@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    
        <li class="dropdown">
            <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" href="#" role="button">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </a>
          
            <ul class="dropdown-menu">
                <li class="dropdown-header text-gray-lighter">
                    <strong class="text-uppercase">Account</strong>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="../apps/profile-details.html">Your Profile</a>
                </li>
                <li>
                    <a href="../apps/profile-edit.html">Settings</a>
                </li>
                <li>
                    <a href="../apps/faq.html">Faq</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
            
        </li>

        @*<li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
    
    }
}
else
{

        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
        